<header class="header">

  <a class="header__logo">Daily Blogs</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="home">Home</a>
      </li>
      <li>
        <a href="/about" class="about">About</a>
      </li>
      <li>
        <a href="/contact" class="contact">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <button class="ratingbtn" aria-expanded="false" onmouseover="showRating()" onmouseout="hideRating()">
      ⭐Leave a rating
    </button>
  </div>
</header>