<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/styles.css">   
</head>
<body class="body">
<div class="container">
    <%- include("partials/header.ejs") %>
    <div class="new">
        <div class="new_into">
            <h1 class="text-center mt-4 mb-4">Create your own Blog Post</h1>
        </div>
    </div>
    <div class="row">   
        <div class="col-lg-6 offset-lg-3 centered-form">
            <form action="/submit" method="POST" style="width: 100%;">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <textarea id="content" name="content" rows="20" style="width: 100%;"
                    onfocus="this.style.borderColor = 'black';"
                    onblur="this.style.borderColor = '';" required></textarea>
                </div>
                <div class="text-center">
                    <button style="margin-bottom: 10px;" type="submit" class="btn_submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
</div>
    
</body>